<%= image_tag @user.photo %> @<%= @user.handle %>
<h1><%= @user.name %></h1>
<br>
About me:
<p> <%= @user.bio %> </p>

<% i = 1 %>
<% @categories.each do |category|%>  
  <section id="col<%= i %>">
    <h2><%= category.header %></h2>
    <ul>
      <% @tweets.find_all_by_category_id(category.id).each do |tweet| %>
        <li> <%= tweet.text %> </li>
      <% end %>
    </ul>
  </section>
  <% i += 1 %>
<% end %>
