<section id="hashpage">
<%= image_tag "walk.jpg", class: "headpic" %>
<section id="profileHead">
<%= image_tag @user.photo, class: "profilepic" %>
<h1 id="profileName"><%= @user.name %></h1>
<br>
<section id="aboutme">
<h2>About me:</h2>
<p> <%= @user.bio %> </p>
</section>
  <% i = 1 %>
  <% @categories.each do |category|%>  
    <section id="col<%= i %>">
      <h2><%= category.header %></h2>
      <ul>
        <% @tweets.find_all_by_category_id(category.id).each do |tweet| %>
          <li> <%= tweet.text %> </li>
        <% end %>
      </ul>
    </section>
    <% i += 1 %>
  <% end %>
</section>